################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityFrameworkwithSql/EntityFrameworkwithSql/obj
/EntityFrameworkwithSql/EntityFrameworkwithSql/bin/Debug/net8.0
